.LoginPageWrapper {
  margin: 0 auto;
  max-width: var(--max-width);
}

@media (min-width: 438px) {
  .LoginPageWrapper {
    margin: 40px 80px;
  }
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-items: end;
  margin-top: 50px;
}

.loginInput {
  background: rgba(var(--secondary-rgb), 0.2);
  border-radius: var(--border-radius);
  padding: var(--padding-md) var(--padding-sm);
  border: var(--border-width) transparent;
  color: rgb(var(--foreground-primary-rgb));
  font-size: var(--text-base);
  width: 100%;

  &::placeholder {
    color: rgb(var(--foreground-primary-rgb));
    font-weight: bold;
  }
}

.loginHeader {
  font-size: 50px;
  line-height: 0.8;
}

.ErrorMessage {
  margin: 0;
  width: 100%;
  color: rgb(var(--warning-rgb));
}
