.toDoPageWrapper {
  --_margin-box: 80px;

  position: absolute;
  inset: 0;
  margin: var(--_margin-box) auto 16px;
  width: 100vw;
  max-height: calc(100vh - var(--_margin-box) - 16px);
  overflow: hidden;

  display: grid;
}

/* Timer */
.timerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  max-width: var(--max-width);
  margin-inline: 16px;
}

.timerClock {
  font-size: 96px;
  font-weight: bold;
  line-height: 0.8;
}

.timerButtonWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  > :first-child {
    grid-column: 2;
  }
}

.timerSettingsWrapper {
  display: flex;
  width: 100%;

  > * {
    --_background-color: var(--tertiary-rgb);
    --_foreground-color: var(--foreground-tertiary-rgb);
    width: 100%;
    min-width: unset;
    border-radius: 0;
  }

  > input:first-of-type + label {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }

  > input:last-of-type + label {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }

  > [type='radio']:checked + label {
    --_background-color: var(--secondary-rgb);
    --_foreground-color: var(--foreground-secondary-rgb);
  }

  [type='radio'] {
    display: none;

    &:hover + label {
      --_shadow-color: var(--secondary-rgb);
    }

    &:not(:checked):hover + label {
      --_foreground-color: var(--foreground-tertiary-hover-rgb);
    }
  }
}

/* ToDo List */
.toDoListWrapper {
  --_padding-block: var(--padding-md);
  --_padding-inline: var(--padding-sm);
  --_icon-height: 48px;
  --_add-button-overlay-padding-block: var(--_icon-height);
  --_gap: 10px;
  --_wrapper-min-height: calc(2lh + var(--_gap) + var(--_icon-height) * 3);

  max-width: var(--max-width);
  min-height: var(--_wrapper-min-height);
  flex: 1;
  position: relative;
  margin-inline: 16px;
}

.toDoListRail {
  --_margin-top: 50px;

  margin-top: var(--_margin-top);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: min-content;
  max-height: calc(100% - var(--_margin-top));

  &:-webkit-scrollbar {
    display: none;
  }
}

.toDoList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* ToDo Card */
.toDoCardWrapper {
  overflow: hidden;
  width: 100%;
}

.rail {
  --_gap: 0px;
  --_button-size: 40px;

  display: flex;
  align-items: center;

  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &:-webkit-scrollbar {
    display: none;
  }

  > * {
    scroll-snap-align: end;
  }
}

.toDoCard {
  display: flex;
  padding: var(--_padding-block) calc(var(--_padding-inline) + var(--icon-size))
    var(--_padding-block) var(--_padding-inline);
  border-radius: var(--border-radius);
  background: rgba(var(--secondary-rgb), 0.2);

  min-width: 100%;
  transition: min-width 0.3s ease;

  &:has([type='text']:focus-visible) {
    border-bottom: 2px solid rgb(var(--foreground-primary-rgb));
  }
}

[type='text'] {
  --_color: rgb(var(--foreground-primary-rgb));

  background: transparent;
  border: transparent;
  font-size: var(--text-base);
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  color: var(--_color);

  &:focus-visible {
    outline: transparent;
  }

  &::placeholder {
    color: var(--_color);
  }
}

[type='checkbox'] {
  display: none;

  + label {
    position: relative;
    color: black;

    &:after {
      content: '';
      cursor: pointer;
      position: absolute;
      width: var(--icon-size);
      height: var(--icon-size);
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: rgb(var(--draft-rgb));
      border-radius: 50%;
    }
  }

  &:checked + label::after {
    background: rgb(var(--success-rgb));
  }
}

.deleteButton {
  --_color-rgb: var(--warning-rgb);
  padding-block: var(--_padding-block);
}

/* Add ToDo Modal */
.addButtonOverlay {
  background: linear-gradient(
    to top,
    rgba(var(--bg-rgb), 0.8),
    rgba(var(--bg-rgb), 0)
  );
  display: flex;
  flex-direction: column;
  gap: var(--_gap);
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  bottom: 0;
  left: 0;
  pointer-events: none;
  padding-block: calc(var(--_add-button-overlay-padding-block) / 2);

  > p {
    margin: 0;
    text-align: center;
  }
}

.addButton {
  --_color-rgb: var(--primary-rgb);
  --_icon-size: var(--_icon-height);
  pointer-events: auto;
}

.addTodoCard {
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
  place-items: center;
  padding: var(--padding-md) var(--padding-sm);
  background: rgba(var(--secondary-rgb), 0.2);
  border-radius: var(--border-radius);
  animation: popup 0.2s ease;
  width: 100%;
  max-width: var(--max-width);

  &:has([type='text']:focus-visible) {
    border-bottom: 2px solid rgb(var(--foreground-primary-rgb));
  }

  > input {
    background: transparent;
    padding: 0;
    outline: none;
    width: 100%;
  }
}

.closeButton {
  all: unset;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(var(--warning-rgb));
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
}

.closeButton:hover {
  background: rgb(var(--warning-rgb));
  transform: scale(1.08);
}

@media (min-width: 438px) {
  .toDoPageWrapper {
    max-height: calc(100vh - var(--_margin-box) * 2);
    margin: var(--_margin-box) auto;
  }

  .timerWrapper,
  .toDoListWrapper {
    margin-inline: auto;
    width: 100%;
  }
}

/* Non touch devices */
@media (hover: hover) {
  .toDoCardWrapper:hover .toDoCard {
    min-width: calc(100% - var(--_button-size) - var(--_gap));
  }
}

/* Touch devices */
@media (hover: none) {
  .rail {
    overflow-x: auto;
  }
}
